body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:0px;
  top:-6px;
  width:1024px;
  height:768px;
}
#u177 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:176px;
  top:71px;
  width:114px;
  height:22px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u178_input:disabled {
  color:grayText;
}
#u179 {
  position:absolute;
  left:316px;
  top:71px;
  width:122px;
  height:22px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u179_input:disabled {
  color:grayText;
}
#u180 {
  position:absolute;
  left:176px;
  top:126px;
  width:96px;
  height:22px;
}
#u180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u180_input:disabled {
  color:grayText;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u181 {
  position:absolute;
  left:146px;
  top:175px;
  width:65px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u183 {
  position:absolute;
  left:242px;
  top:185px;
  width:65px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  visibility:hidden;
  white-space:nowrap;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u185 {
  position:absolute;
  left:326px;
  top:175px;
  width:49px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u187 {
  position:absolute;
  left:395px;
  top:175px;
  width:49px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u189 {
  position:absolute;
  left:460px;
  top:175px;
  width:49px;
  height:16px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  visibility:hidden;
  white-space:nowrap;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u191 {
  position:absolute;
  left:235px;
  top:561px;
  width:15px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u193 {
  position:absolute;
  left:178px;
  top:560px;
  width:50px;
  height:18px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u194 {
  position:absolute;
  left:254px;
  top:560px;
  width:50px;
  height:18px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u195 {
  position:absolute;
  left:50px;
  top:172px;
  width:115px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u197 {
  position:absolute;
  left:75px;
  top:232px;
  width:61px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u199 {
  position:absolute;
  left:87px;
  top:292px;
  width:49px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u201 {
  position:absolute;
  left:87px;
  top:362px;
  width:49px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u203 {
  position:absolute;
  left:85px;
  top:490px;
  width:49px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u205 {
  position:absolute;
  left:50px;
  top:560px;
  width:97px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:176px;
  top:232px;
  width:300px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u208 {
  position:absolute;
  left:176px;
  top:287px;
  width:300px;
  height:25px;
}
#u208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u209 {
  position:absolute;
  left:175px;
  top:171px;
  width:300px;
  height:25px;
}
#u209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u210 {
  position:absolute;
  left:176px;
  top:359px;
  width:300px;
  height:25px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u211 {
  position:absolute;
  left:174px;
  top:484px;
  width:300px;
  height:25px;
}
#u211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u212 {
  position:absolute;
  left:51px;
  top:126px;
  width:115px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u214 {
  position:absolute;
  left:51px;
  top:71px;
  width:115px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:195px;
  top:658px;
  width:140px;
  height:40px;
}
#u217 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
}
#u218 {
  position:absolute;
  left:23px;
  top:425px;
  width:113px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u220 {
  position:absolute;
  left:176px;
  top:421px;
  width:300px;
  height:25px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:31px;
}
#u221 {
  position:absolute;
  left:527px;
  top:17px;
  width:39px;
  height:31px;
}
#u222 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u223 {
  position:absolute;
  left:493px;
  top:172px;
  width:115px;
  height:18px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:618px;
  top:171px;
  width:300px;
  height:25px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
