body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1022px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1024px;
  height:768px;
}
#u2 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:283px;
  top:67px;
  width:93px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4 {
  position:absolute;
  left:393px;
  top:67px;
  width:94px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:1px;
  top:38px;
  width:33px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:38px;
  top:38px;
  width:68px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:2px;
  top:100px;
  width:974px;
  height:139px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:227px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:26px;
}
#u12 {
  position:absolute;
  left:231px;
  top:0px;
  width:192px;
  height:26px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:26px;
}
#u14 {
  position:absolute;
  left:423px;
  top:0px;
  width:242px;
  height:26px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:26px;
}
#u16 {
  position:absolute;
  left:665px;
  top:0px;
  width:304px;
  height:26px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:300px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u18 {
  position:absolute;
  left:0px;
  top:26px;
  width:231px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u20 {
  position:absolute;
  left:231px;
  top:26px;
  width:192px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
}
#u22 {
  position:absolute;
  left:423px;
  top:26px;
  width:242px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:36px;
}
#u24 {
  position:absolute;
  left:665px;
  top:26px;
  width:304px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u26 {
  position:absolute;
  left:0px;
  top:62px;
  width:231px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u28 {
  position:absolute;
  left:231px;
  top:62px;
  width:192px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
}
#u30 {
  position:absolute;
  left:423px;
  top:62px;
  width:242px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:36px;
}
#u32 {
  position:absolute;
  left:665px;
  top:62px;
  width:304px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u34 {
  position:absolute;
  left:0px;
  top:98px;
  width:231px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:36px;
}
#u36 {
  position:absolute;
  left:231px;
  top:98px;
  width:192px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:188px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:36px;
}
#u38 {
  position:absolute;
  left:423px;
  top:98px;
  width:242px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:36px;
}
#u40 {
  position:absolute;
  left:665px;
  top:98px;
  width:304px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:753px;
  top:280px;
  width:47px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:899px;
  top:280px;
  width:47px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:813px;
  top:280px;
  width:77px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:2px;
  top:68px;
  width:122px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48_input:disabled {
  color:grayText;
}
#u49 {
  position:absolute;
  left:143px;
  top:68px;
  width:122px;
  height:22px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u49_input:disabled {
  color:grayText;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u50 {
  position:absolute;
  left:785px;
  top:138px;
  width:68px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:785px;
  top:171px;
  width:68px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:785px;
  top:205px;
  width:68px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:32px;
  top:272px;
  width:759px;
  height:447px;
  overflow:hidden;
  visibility:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:447px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:446px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:446px;
}
#u58 {
  position:absolute;
  left:2px;
  top:215px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:164px;
  top:22px;
  width:161px;
  height:22px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u59_input:disabled {
  color:grayText;
}
#u60 {
  position:absolute;
  left:164px;
  top:81px;
  width:161px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u60_input:disabled {
  color:grayText;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u61 {
  position:absolute;
  left:44px;
  top:24px;
  width:110px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u63 {
  position:absolute;
  left:93px;
  top:84px;
  width:61px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:198px;
  top:372px;
  width:140px;
  height:40px;
}
#u66 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:164px;
  top:168px;
  width:429px;
  height:170px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u68 {
  position:absolute;
  left:93px;
  top:168px;
  width:31px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u70 {
  position:absolute;
  left:696px;
  top:8px;
  width:26px;
  height:27px;
}
#u71 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
