body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:762px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:50px;
  top:19px;
  width:1425px;
  height:762px;
}
#u1 {
  position:absolute;
  left:2px;
  top:373px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:760px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:51px;
  top:20px;
  width:90px;
  height:760px;
}
#u3 {
  position:absolute;
  left:2px;
  top:372px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u4 {
  position:absolute;
  left:80px;
  top:34px;
  width:32px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444444;
}
#u6 {
  position:absolute;
  left:50px;
  top:78px;
  width:91px;
  height:37px;
  color:#444444;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C0C0C0;
}
#u8 {
  position:absolute;
  left:50px;
  top:126px;
  width:91px;
  height:37px;
  color:#C0C0C0;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C0C0C0;
}
#u10 {
  position:absolute;
  left:50px;
  top:173px;
  width:91px;
  height:37px;
  color:#C0C0C0;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C0C0C0;
}
#u12 {
  position:absolute;
  left:50px;
  top:220px;
  width:91px;
  height:37px;
  color:#C0C0C0;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C0C0C0;
}
#u14 {
  position:absolute;
  left:50px;
  top:267px;
  width:91px;
  height:37px;
  color:#C0C0C0;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C0C0C0;
}
#u16 {
  position:absolute;
  left:50px;
  top:314px;
  width:91px;
  height:37px;
  color:#C0C0C0;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u18 {
  position:absolute;
  left:66px;
  top:85px;
  width:20px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:26px;
}
#u20 {
  position:absolute;
  left:66px;
  top:130px;
  width:19px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:84px;
}
#u22 {
  position:absolute;
  left:64px;
  top:170px;
  width:20px;
  height:84px;
}
#u23 {
  position:absolute;
  left:2px;
  top:34px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:31px;
}
#u24 {
  position:absolute;
  left:60px;
  top:269px;
  width:23px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:29px;
}
#u26 {
  position:absolute;
  left:62px;
  top:317px;
  width:22px;
  height:29px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1333px;
  height:58px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:142px;
  top:20px;
  width:1333px;
  height:58px;
}
#u29 {
  position:absolute;
  left:2px;
  top:21px;
  width:1329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
}
#u30 {
  position:absolute;
  left:1067px;
  top:41px;
  width:264px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u32 {
  position:absolute;
  left:1396px;
  top:41px;
  width:53px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:161px;
  top:117px;
  width:708px;
  height:216px;
}
#u35 {
  position:absolute;
  left:2px;
  top:100px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
}
#u36 {
  position:absolute;
  left:175px;
  top:132px;
  width:193px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u38 {
  position:absolute;
  left:175px;
  top:195px;
  width:53px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u40 {
  position:absolute;
  left:228px;
  top:195px;
  width:196px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:175px;
  top:169px;
  width:53px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:16px;
}
#u44 {
  position:absolute;
  left:228px;
  top:169px;
  width:204px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:175px;
  top:221px;
  width:53px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u48 {
  position:absolute;
  left:228px;
  top:221px;
  width:40px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u50 {
  position:absolute;
  left:175px;
  top:247px;
  width:40px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u52 {
  position:absolute;
  left:228px;
  top:247px;
  width:35px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u54 {
  position:absolute;
  left:175px;
  top:273px;
  width:53px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u56 {
  position:absolute;
  left:228px;
  top:273px;
  width:91px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:175px;
  top:299px;
  width:53px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u60 {
  position:absolute;
  left:228px;
  top:299px;
  width:111px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:161px;
  top:564px;
  width:1280px;
  height:160px;
}
#u63 {
  position:absolute;
  left:2px;
  top:72px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u64 {
  position:absolute;
  left:282px;
  top:619px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u66 {
  position:absolute;
  left:292px;
  top:666px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u68 {
  position:absolute;
  left:486px;
  top:619px;
  width:63px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u70 {
  position:absolute;
  left:492px;
  top:666px;
  width:40px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u72 {
  position:absolute;
  left:169px;
  top:92px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u74 {
  position:absolute;
  left:639px;
  top:619px;
  width:141px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u76 {
  position:absolute;
  left:703px;
  top:666px;
  width:27px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:184px;
}
#u78 {
  position:absolute;
  left:469px;
  top:132px;
  width:1px;
  height:183px;
}
#u79 {
  position:absolute;
  left:2px;
  top:84px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u80 {
  position:absolute;
  left:586px;
  top:181px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u82 {
  position:absolute;
  left:579px;
  top:228px;
  width:53px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u84 {
  position:absolute;
  left:715px;
  top:181px;
  width:73px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u86 {
  position:absolute;
  left:708px;
  top:228px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u88 {
  position:absolute;
  left:874px;
  top:619px;
  width:55px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u90 {
  position:absolute;
  left:857px;
  top:666px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:161px;
  top:369px;
  width:1280px;
  height:160px;
}
#u93 {
  position:absolute;
  left:2px;
  top:72px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u94 {
  position:absolute;
  left:282px;
  top:424px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u96 {
  position:absolute;
  left:293px;
  top:471px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u98 {
  position:absolute;
  left:458px;
  top:424px;
  width:109px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u100 {
  position:absolute;
  left:471px;
  top:471px;
  width:92px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u102 {
  position:absolute;
  left:691px;
  top:424px;
  width:37px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099FF;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u104 {
  position:absolute;
  left:663px;
  top:471px;
  width:105px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u106 {
  position:absolute;
  left:234px;
  top:538px;
  width:40px;
  height:16px;
  color:#0099FF;
  text-align:center;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u108_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:20px;
}
#u108 {
  position:absolute;
  left:161px;
  top:91px;
  width:3px;
  height:17px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u110 {
  position:absolute;
  left:171px;
  top:344px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u112_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:20px;
}
#u112 {
  position:absolute;
  left:161px;
  top:343px;
  width:3px;
  height:17px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u114 {
  position:absolute;
  left:173px;
  top:538px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
  text-align:center;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:20px;
}
#u116 {
  position:absolute;
  left:163px;
  top:537px;
  width:3px;
  height:17px;
}
#u117 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
