body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u227 {
  position:absolute;
  left:-7px;
  top:0px;
  width:1024px;
  height:768px;
}
#u228 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:576px;
  top:50px;
  width:93px;
  height:25px;
}
#u229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u230 {
  position:absolute;
  left:686px;
  top:50px;
  width:94px;
  height:25px;
}
#u230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u231 {
  position:absolute;
  left:824px;
  top:261px;
  width:47px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u232 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u233 {
  position:absolute;
  left:942px;
  top:261px;
  width:47px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u234 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u235 {
  position:absolute;
  left:882px;
  top:261px;
  width:40px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u236 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u237 {
  position:absolute;
  left:4px;
  top:23px;
  width:33px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u239 {
  position:absolute;
  left:56px;
  top:23px;
  width:61px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u240 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u241 {
  position:absolute;
  left:5px;
  top:85px;
  width:987px;
  height:155px;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:42px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u243 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u244 {
  position:absolute;
  left:104px;
  top:0px;
  width:101px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u245 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:42px;
}
#u246 {
  position:absolute;
  left:205px;
  top:0px;
  width:98px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u247 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:42px;
}
#u248 {
  position:absolute;
  left:303px;
  top:0px;
  width:63px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u249 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:42px;
}
#u250 {
  position:absolute;
  left:366px;
  top:0px;
  width:78px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u251 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:42px;
}
#u252 {
  position:absolute;
  left:444px;
  top:0px;
  width:67px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u253 {
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
}
#u254 {
  position:absolute;
  left:511px;
  top:0px;
  width:84px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u255 {
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:42px;
}
#u256 {
  position:absolute;
  left:595px;
  top:0px;
  width:62px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u257 {
  position:absolute;
  left:2px;
  top:12px;
  width:58px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:42px;
}
#u258 {
  position:absolute;
  left:657px;
  top:0px;
  width:119px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u259 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:42px;
}
#u260 {
  position:absolute;
  left:776px;
  top:0px;
  width:206px;
  height:42px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u261 {
  position:absolute;
  left:2px;
  top:12px;
  width:202px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u262 {
  position:absolute;
  left:0px;
  top:42px;
  width:104px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u263 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u264 {
  position:absolute;
  left:104px;
  top:42px;
  width:101px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u265 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u266 {
  position:absolute;
  left:205px;
  top:42px;
  width:98px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u267 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u268 {
  position:absolute;
  left:303px;
  top:42px;
  width:63px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u269 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u270 {
  position:absolute;
  left:366px;
  top:42px;
  width:78px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u271 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u272 {
  position:absolute;
  left:444px;
  top:42px;
  width:67px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u273 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u274 {
  position:absolute;
  left:511px;
  top:42px;
  width:84px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u275 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u276 {
  position:absolute;
  left:595px;
  top:42px;
  width:62px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u277 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u278 {
  position:absolute;
  left:657px;
  top:42px;
  width:119px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u279 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u280 {
  position:absolute;
  left:776px;
  top:42px;
  width:206px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u282 {
  position:absolute;
  left:0px;
  top:78px;
  width:104px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u283 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u284 {
  position:absolute;
  left:104px;
  top:78px;
  width:101px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u285 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u286 {
  position:absolute;
  left:205px;
  top:78px;
  width:98px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u287 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u288 {
  position:absolute;
  left:303px;
  top:78px;
  width:63px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u289 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u290 {
  position:absolute;
  left:366px;
  top:78px;
  width:78px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u291 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u292 {
  position:absolute;
  left:444px;
  top:78px;
  width:67px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u293 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u294 {
  position:absolute;
  left:511px;
  top:78px;
  width:84px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u295 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u296 {
  position:absolute;
  left:595px;
  top:78px;
  width:62px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u297 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u298 {
  position:absolute;
  left:657px;
  top:78px;
  width:119px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u299 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u300 {
  position:absolute;
  left:776px;
  top:78px;
  width:206px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u301 {
  position:absolute;
  left:2px;
  top:10px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u302 {
  position:absolute;
  left:0px;
  top:114px;
  width:104px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u303 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u304 {
  position:absolute;
  left:104px;
  top:114px;
  width:101px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u305 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u306 {
  position:absolute;
  left:205px;
  top:114px;
  width:98px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u307 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u308 {
  position:absolute;
  left:303px;
  top:114px;
  width:63px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u309 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u310 {
  position:absolute;
  left:366px;
  top:114px;
  width:78px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u311 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u312 {
  position:absolute;
  left:444px;
  top:114px;
  width:67px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u313 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:36px;
}
#u314 {
  position:absolute;
  left:511px;
  top:114px;
  width:84px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u315 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u316 {
  position:absolute;
  left:595px;
  top:114px;
  width:62px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u317 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u318 {
  position:absolute;
  left:657px;
  top:114px;
  width:119px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u319 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u320 {
  position:absolute;
  left:776px;
  top:114px;
  width:206px;
  height:36px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u321 {
  position:absolute;
  left:2px;
  top:10px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322 {
  position:absolute;
  left:5px;
  top:53px;
  width:131px;
  height:22px;
}
#u322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u322_input:disabled {
  color:grayText;
}
#u323 {
  position:absolute;
  left:146px;
  top:53px;
  width:122px;
  height:22px;
}
#u323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u323_input:disabled {
  color:grayText;
}
#u324 {
  position:absolute;
  left:437px;
  top:52px;
  width:122px;
  height:22px;
}
#u324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u324_input:disabled {
  color:grayText;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u325 {
  position:absolute;
  left:799px;
  top:137px;
  width:61px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u326 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u327 {
  position:absolute;
  left:800px;
  top:173px;
  width:61px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u328 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u329 {
  position:absolute;
  left:800px;
  top:209px;
  width:61px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u330 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u331 {
  position:absolute;
  left:38px;
  top:23px;
  width:12px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u332 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  white-space:nowrap;
}
#u333 {
  position:absolute;
  left:290px;
  top:53px;
  width:122px;
  height:22px;
}
#u333_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u333_input:disabled {
  color:grayText;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u334 {
  position:absolute;
  left:908px;
  top:137px;
  width:68px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u335 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u336 {
  position:absolute;
  left:908px;
  top:173px;
  width:68px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u337 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u338 {
  position:absolute;
  left:908px;
  top:208px;
  width:68px;
  height:19px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u339 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  white-space:nowrap;
}
